body {
  width: 800px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 600px;
  margin: 0 auto;
}
.logo {
  width: 100px;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input {
  display: block;
  font-weight: 300;
  width: 100%;
  font-size: 25px;
  border: 0px;
  outline: none;
  width: 100%;
  sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans, Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom: 1px solid #ddd;
}
.ghost-button {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  position: relative;
  left: 18%;
  border: 2px solid #ddd;
  padding: 10px 30px;
  min-width: 300px;
  color: #75797d;
  font-size: 25px;

  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border: 2px solid #515151;
}

.ghost-response {
  display: block;
  font-weight: 300;
  width: 100%;
  font-size: 25px;
  border: 0px;
  outline: none;
  width: 100%;
  sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 10px 15px;
  margin: 30px 0px;
  transition: all 0.1s ease-in-out;
}
