<div class="jumbotron text-center">
  <h1>
    <img class="logo" src="assets/thunderstorm-.png" alt="angular logo" />
    <span translate>Check The Weather</span>
  </h1>
</div>

<div class="container">
  <fieldset>

    <form (click)="submitForm(zipcode)">
      <input type="text" class="ghost-input" name="zipcode" [(ngModel)]="zipcode" placeholder="Please click me and enter a zipcode"
        required>
      <button type="submit" class="ghost-button">Summit</button>
    </form>

    <p class="ghost-response">{{ weatherReq }}</p>

  </fieldset>